

@media screen and (min-width: 678px){
    
    .nav--menu{
        position: static;
        opacity: 1;
        background-color: transparent;
        display: flex;
    }
    .input-label{
        display: none;
    }
        
    
    }




